#!/usr/bin/make -f

SHELL := /bin/bash

override_dh_auto_install:
	dh_auto_install
	rm -rf debian/python3-poetry/usr/lib/python*/*-packages/poetry/__init__.py
	find debian/python3-poetry/usr/lib/python*/*-packages -type f -name '*.pyc' -exec rm -rf {} \;
	fdupes -s debian/python3-poetry/usr/lib/python*/*-packages

override_dh_auto_test:

override_dh_auto_clean:

%:
	dh $@ --buildsystem=pybuild --with python3
